* {
  margin: 0 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  overflow: hidden;
}

body {
  background-color: #0e121d;
  color: #00a8e8;

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;

  max-width: 100%;
  overflow: hidden;
}

#body {
  display: grid;
  place-items: center;
  height: 95vh;
}

#title {
  display: grid;
  place-items: center;
}
#name {
  font-size: 7rem;
  margin: 0 auto;

  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* border-right: 0.065em solid whitesmoke; */
  animation: typing 1s steps(40, end) 1s 2 alternate-reverse;
}
#name span {
  font-size: 0.1em;
  color: transparent;
}
#name::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0.04em;
  background-color: whitesmoke;
  animation: cursor-blink-fade 1s infinite;
}

#student {
  margin: 0 0;
  margin-top: 0.5em;
}

footer {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 0.3em;
  font-size: 2rem;
}

.fa-brands {
  color: whitesmoke;
}
.fa-brands:hover {
  font-size: 1.2em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor-blink-fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
