* {
  margin: 0 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  overflow: hidden;
}

body {
  background-color: #0e121d;
  color: #00a8e8;

  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;

  max-width: 100%;
  overflow: hidden;
}

#body {
  display: grid;
  place-items: center;
  height: 95vh;
}

#title {
  display: grid;
  place-items: center;
}
#name {
  font-size: 7rem;
  margin: 0 0;
}
#student {
  margin: 0 0;
  margin-top: 0.5em;
}

footer {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 0.3em;
  font-size: 2rem;
}

.fa-brands {
  color: whitesmoke;
}
.fa-brands:hover {
  font-size: 1.2em;
}
